discord.py>=2.4.0
GitPython==3.1.42
interception_python>=0.0.1
keyboard==0.13.5
mss==9.0.1
numpy>=1.26.4
opencv_python>=4.11.0.86
opencv_python_headless>=4.11.0.86
Pillow>=10.2.0
PyAutoGUI==0.9.54
pygame>=2.5.1
pyotp==2.9.0
pytz==2023.3
pywin32>=306
